// Our configs would be declared here


:root {
	// Colors
	--color-1: #ffffff;
	--color-2: #000000;
	--color-3: #074aec;
	--color-4: #1b15bf;
	--color-5: #e6e8eb;
	--color-6: #f7f8fa;
	--color-7: #7b7c7c;
	--color-8: #0342c3;
	--color-9: #c5c9cf;
	--color-10: #e9f1ff;
	--color-11: #a3b2d6;
	// --color-hover: #1597bb;
	// --color-active: #1597bb;
	// --color-error: #7b113a;
	--color-disabled: #b5b5b6;
	--color-success: #417e42;
	--color-initial-1: #863dff;
	--color-initial-2: #8e98ed;
	--color-initial-3: #679ccd;
	--color-initial-4: #4a0aff;


	--body-bg-color: var(--color-6);
	--body-color: var(--color-2);

	// --link-color: var(--color-2);
	// --link-color-hover: var(--color-hover);

	// Base Font
	--base-font-family: #{$open_sans_regular};
	--base-font-color: var(--color-2);
	--base-line-height: 1.4;
	// --base-font-weight: 600;

	// Heading Font
	// --heading-font-family: var(--base-font-family);
	// --heading-line-height: 1;
	// --heading-font-weight: 900;

	// Base Border
	// --base-border-color: rgba(172, 172, 172, 0.5);
	// --base-border-radius: 30px;
	// --base-border: 0.5px solid var(--btn-border-color);

	// Button Variables
	--btn-text-color: var(--color-2);
	--btn-background: var(--color-1);
	--btn-border-width: 1px;
	--btn-border-color: var(--color-9);
	--btn-border-radius: 4px;
	--btn-border-style: solid;
	// --btn-padding-vertical: 8px;
	// --btn-padding-horizontal: 12px;
	// --btn-padding-top: var(--btn-padding-vertical);
	// --btn-padding-bottom: var(--btn-padding-vertical);
	// --btn-padding-right: var(--btn-padding-horizontal);
	// --btn-padding-left: var(--btn-padding-horizontal);
	// --btn-text-color-hover: var(--color-5);
	// --btn-background-hover: var(--color-2);
	// --btn-line-height: var(--base-line-height);
	// --btn-font-weight: 600;
	// --btn-hover-border-color: var(--color-1);
	// --btn-duration: var(--base-duration);
	// --btn-timing: var(--base-timing);
	// --btn-box-shadow-h-offset: 1px;
	// --btn-box-shadow-v-offset: 1px;
	// --btn-box-shadow-blur: 1px;
	// --btn-box-shadow-spread: 1px;
	// --btn-box-shadow-color: var(--color-1);

	// Input Variables
	// --input-text-color: var(--color-2);
	// --input-background: var(--color-5);

	// --input-padding-top: 2em;
	// --input-padding-bottom: 2em;
	// --input-padding-left: 2em;
	// --input-padding-right: 2em;

	// --input-margin-top: 0;
	// --input-margin-bottom: 1.5em;
	// --input-margin-left: 0;
	// --input-margin-right: 0;

	// --input-box-shadow-h-offset: 0px;
	// --input-box-shadow-v-offset: 0px;
	// --input-box-shadow-blur: 1px;
	// --input-box-shadow-spread: 1px;
	// --input-box-shadow-color: #ffffff;

	--focus-outline-style: solid;
	--focus-outline-color: var(--color-8);
	--focus-outline-width: 1px;
	--focus-outline-offset: 0;

	// Base Transition
	// --base-duration: 300ms;
	// --base-timing: ease-in-out;
}

