*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	line-height: var(--base-line-height);
	background-color: var(--body-bg-color);
	color: var(--body-color);
	font-family: var(--base-font-family);
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	outline: none;
}

img {
	max-width: 100%;
}